body {
	font-size: 100%;
	text-align: center;
	background-color: #eff0f0;
}

#pagehead h1 {
	font-size: 3em;
}

.project h1 {
	font-size: 1.5em;
}

h1, ul, li {
	text-align: center;
}

b, strong,
dt {
	font-weight: bold;
}

i, em,
dt {
	font-style: italic;
}

p, dd {
	margin-bottom: 1em;
}

#pagehead,
#work,
#pagefoot {
	width: 80%;
}

#pagehead,
#work,
#pagefoot,
.project,
#about,
#contact {
	margin: 3em auto;
}

.text,
#about {
	text-align: left;
}

.project header,
.images,
.text {
	float: left;
	width: 100%;
	margin: 0;
	padding: .5em 1.4em;
	clear: left;
}

.text dl,
.text p {
	padding: 0 3em;
}

.images figure.thumb {
	float: left;
	height: auto;
	margin: 1.25% 1px 1.25% 2.5%; /* new  1px = sub-pixel rounding compensation */
}

.images figure.single {
	width: 30%;
}

.images figure.double {
	width: 62.5%;
}

.images figure.triple {
	width: 95%;
}

.images figure.thumb a {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	overflow: hidden;
}

.images figure.thumb img {
	display: block;
	width: 100%;
	border: 0;
	background: transparent;
}

.project:before,
.project:after {
	content:"";
	display:table;
}
.project:after {
	clear:both;
}
.project {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}